<body style="background-color:MediumSeaGreen;">
<h1>Pig In Python</h1>
<h2>A Python game application. This one is called Pig. See the README.md file instructions on game play.</h2>
<a href="https://lochlainlewis.bitbucket.io">Back to My Code Synopsis Page</a>
<p></p>
<a href="https://bitbucket.org/lochlainlewis/piginpython/src/master/">The actual code.</a>
<h2>More later!</h2>
</body>