<body style="background-color:MediumSeaGreen;">
<h1>Arduino</h1>
<h2>Various Arduino code snippets for projects ranging from flashing lights to robotics.</h2>
<a href="https://lochlainlewis.bitbucket.io">Back to My Code Synopsis Page</a>
<p></p>
<a href="https://bitbucket.org/lochlainlewis/arduino/src/master">The actual code.</a>
<h2>More later!</h2>
</body>