<body style="background-color:MediumSeaGreen;">
<h1>DayOfWeek app in Java</h1>
<h2>The DayOfWeek application tells the user the day of the week for some historic date.</h2>
<a href="https://lochlainlewis.bitbucket.io">Back to My Code Synopsis Page</a>
<p></p>
<a href="https://bitbucket.org/lochlainlewis/dayofweekinjava/src/master/">The actual code.</a>
<h2>More later!</h2>
</body>