<body style="background-color:MediumSeaGreen;">
<h1>SCA</h1>
<h2>A team project that involved three teammates and 3 months of work.</h2>
<a href="https://lochlainlewis.bitbucket.io">Back to My Code Synopsis Page</a>
<p></p>
<a href="https://bitbucket.org/lochlainlewis/sca/src/master/">The actual code.</a>
<h2>More later!</h2>
</body>